@page
@model AdminPanel.Pages.UsefulLink.IndexModel

@{
    ViewData["Title"] = "Полезные ссылки";
}

<h1>Полезные ссылки</h1>

<p>
    <a asp-page="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsefulLink[0].Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsefulLink[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UsefulLink) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
