@page
@model AdminPanel.Pages.Floor.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить этаж?</h3>
<div>
    <h4>Этаж</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FloorLayout.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FloorLayout.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FloorLayout.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FloorLayout.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FloorLayout.PhotoLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FloorLayout.PhotoLink)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FloorLayout.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться назад</a>
    </form>
</div>
