@page
@model AdminPanel.Pages.Floor.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Этажи</h1>

<p>
    <a asp-page="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FloorLayout[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorLayout[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorLayout[0].PhotoLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FloorLayout) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoLink)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
