@page
@model AdminPanel.Pages.Cabinets.DetailsModel

@{
    ViewData["Title"] = "Кабинет";
}

<h1>Детали</h1>

<div>
    <h4>Кабинет</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cabinet.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cabinet.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cabinet.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cabinet.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cabinet.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cabinet.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cabinet.FloorLayoutId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cabinet.FloorLayoutId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cabinet?.Id">Редактировать</a> |
    <a asp-page="./Index">Вернуться назад</a>
</div>
